<% if @user %>
	<div>
		<h2><%= pluralize(@user.errors.count, "error") %>
			prohibited you from creating an account: </h2>
		<ul>
			<% @user.errors.full_messages.each do |message| %>
				<li> <%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>