<h3>Hi, <%= current_user.first_name.capitalize %>!</h3>

<% if current_user.teacher %>
	<p>You're a teacher!</p>
	<%= link_to 'Add a New Cohort', new_cohort_path %><br><br>

<% else %>
	<p>You're a student!</p>
  <% if current_team %>
    <p><%= link_to 'View Team', team_path(current_team) %></p>
  <% end %>
<% end %>

<%= link_to 'See All Cohorts', cohorts_path %>
