div#new-register-form {
  display: flex;
  flex-flow: row wrap;

  form {
    display: flex;
    flex-flow: row wrap;

    label {
      font-weight: bold;
    }

      #user-email {
        width: 200px;
        color: red;
      }
    input {
      height: 20px;
    }
    input:nth-child(2) {
      clear: right;
    }
  }

  .register {
    height: 40px;
    width: 200px;
    /*background-color: ;*/
  }

}
