div#new-register-form {
    height: 500px;
    width: 90%;
    margin: 0 auto;

  form {
    width: 100%;

    p {
      clear: both;
      display: block;
      float: right;
      margin: 0;
      margin-right: 15%;
    }

    div#inputs {
      display: flex;
      flex-flow: row;

      div {
        display: flex;
        /*justify-content: center;*/
        /*clear: both;*/
        /*float: left;*/
        /*width: 100%;*/
        flex: 1;
        float: left;

      }

      label {
        color: red;
        font-weight: bold;
        margin: 0 5px;
        width: 75px;
      }

      input {
        /*background-color: blue;*/
        height: 20px;
      }
    }

    .register {
      background-color: green;
      height: 40px;
      width: 200px;
      clear: both;
      margin-left: 47.5%;
      margin-top: 5%;
      /*background-color: ;*/
    }
  }
}
